<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.creamyfever.wow.dao.ArticleMapper">
	
	<resultMap id="getArticle" type="Article">
		<result property="articleid" column="ARTICLEID" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result property="articlename" column="ARTICLENAME" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result property="articlecontent" column="ARTICLECONTENT" javaType="java.lang.String" jdbcType="CLOB"/>
		<result property="articledate" column="ARTICLEDATE" />
		<result property="presscompany" column="PRESSCOMPANY" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result property="field" column="FIELD" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result property="continent" column="CONTINENT" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result property="url" column="URL" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result property="sentiment" column="SENTIMENT" javaType="java.lang.Double" jdbcType="DOUBLE"/>
	</resultMap>

	<insert id="insert" parameterType="Article">
		insert into articles (
			articleid
			, articlename
			, articlecontent
			, articledate
			, presscompany
			, field
			, url
			<if test="continent != null">
			, continent
			</if>
		)
		values (
			#{articleid}
			, #{articlename}
			, #{articlecontent}
			, TO_DATE(#{articledate}, 'YYYY/MM/DD')
			, #{presscompany}
			, #{field}
			, #{url}
			<if test="continent != null">
			, #{continent, jdbcType=VARCHAR}
			</if>
		) 
	</insert>
	
	<insert id="insertFromList" parameterType="java.util.List">
		insert all
		<foreach collection="list" item="element" index="index">
	        into articles (
				articleid
				, articlename
				, articlecontent
				, articledate
				, presscompany
				, field
				, url
				, continent
			)
			values (
				#{element.articleid}
				, #{element.articlename}
				, #{element.articlecontent}
				, TO_DATE(#{element.articledate}, 'YYYY/MM/DD')
				, #{element.presscompany}
				, #{element.field}
				, #{element.url}
				, #{element.continent, jdbcType=VARCHAR}
			) 
	    </foreach>
		select * from dual
	</insert>

	<select id="selectAll" resultMap="getArticle">
		select
		    articleid
		    , articlename
		    , articlecontent
		    , TO_CHAR(articledate, 'yyyymmdd') as articledate
		    , presscompany
		    , field
		    , url
		    , nvl(continent,'Asia') as continent
		    , sentiment
		from articles
		order by articleid desc
	</select>
	
	<select id="selectOne" parameterType="String" resultMap="getArticle">
		select
		    articleid
		    , articlename
		    , articlecontent
		    , TO_CHAR(articledate, 'yyyymmdd') as articledate
		    , presscompany
		    , field
		    , url
		    , nvl(continent,'Asia') as continent
		    , sentiment
		from articles
		where articleid = #{id}
		order by articleid desc
	</select>
</mapper>
