<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.creamyfever.wow.dao.BoardMapper">
	
	<select id="printBoardList" resultType="Board">
		SELECT
			B.BOARDNUM,
			B.IDNO,
			B.TITLE,
			M.NICKNAME as WRITER,
			B.REGDATE,
			B.HITCOUNT
		FROM
			BOARDS B, MEMBERS M
        WHERE
            M.IDNO=B.IDNO
        ORDER BY B.HITCOUNT DESC
       <!-- ORDER BY STARS DESC	 --> 
	</select>
	
 	<select id="printDiscussionList" resultType="Discussion">
		SELECT
			DIS_NO,
			DIS_TITLE,
			ARTICLENUM,
			DIS_REGDATE,
			DIS_GRADE
		FROM
			DISCUSSION_ROOMS
		ORDER BY DIS_GRADE DESC	
	</select> 
	
	
	<insert id="insertKeyword" parameterType="Topkeyword">
		INSERT INTO TOPKEYWORD
			(KEYWORD)
		VALUES
			(#{keyword},#{age},#{gender})
	</insert>
	
	<update id="updateKeyword" parameterType="Topkeyword">
		UPDATE 
			TOPKEYWORD
		SET
			count=count+1
		WHERE
			KEYWORD = #{keyword}
	</update>	
	
	<select id="printKeyword" resultType="Topkeyword">
		SELECT
			KEYWORD, COUNT, AGE, GENDER
		FROM
			TOPKEYWORD
		ORDER BY COUNT DESC
	</select>
	
	
	
	
	
	<!-- 게시글 저장 -->
	<insert id="insertBoard" parameterType="Board">
		insert into BOARDS (
			boardnum
			, title
			, idno
			, content
			, regdate
			, moddate
			, hitcount
			, subject
		)
		values (
			boards_seq.nextval
			, #{title}
			, #{idno}
			, #{content}
			, sysdate
			, sysdate
			, #{hitcount}
			, #{subject}
			)
	</insert>
	
	<!-- 게시글 읽기 -->
	<select id="getBoard" parameterType="int" resultType="Board">
		select 
			B.boardnum
			, B.title
			, B.idno
			, M.NICKNAME as WRITER
			, B.content
			, to_char(B.regdate, 'YYYY-MM-DD HH24:MI:SS') regdate
			, to_char(B.moddate, 'YYYY-MM-DD HH24:MI:SS') moddate
			, B.hitcount
			, B.subject
		from 
			BOARDS B, MEMBERS M
		where
			M.IDNO=B.IDNO
			and boardnum = #{boardnum}
	</select>
	
	<!-- 조회수 1 증가 -->
	<update id="addHits" parameterType="int">
		update
			boards
		set
			hitcount = hitcount + 1
		where
			boardnum = #{boardnum}
	</update>

	<!-- 전체 글 개수 (검색 필터링 후) -->
	<select id="getTotal" parameterType="string" resultType="int">
		select 
			count(*)
		from 
			boards 
		<if test="_parameter != null">
		where 
			title like '%' || #{searchText} || '%' 
		or  subject = #{subject}
		</if>
	</select>
	
	<!-- 현재 페이지 목록 (검색 필터링 후) -->
	<select id="listBoard" parameterType="string" resultType="Board">
		select 
			B.boardnum
			, B.idno
			, M.NICKNAME as WRITER
			, B.title
			, to_char(B.regdate, 'YYYY-MM-DD') regdate
			, B.hitcount
			, B.subject
		from 
			BOARDS B, MEMBERS M
		where
			M.IDNO=B.IDNO
		<if test="_parameter != null">
			and B.title like '%' || #{searchText} || '%'
		</if>
		order by B.boardnum desc
	</select>

<!-- 카테고리 필터링 게시판 목록(subject 필터링 후) -->
	<select id="subjectListBoard" parameterType="Board" resultType="Board">
		select 
			B.boardnum
			, B.title
			, B.idno
			, M.NICKNAME as WRITER
			, B.content
			, to_char(B.regdate, 'YYYY-MM-DD') regdate
			, to_char(B.moddate, 'YYYY-MM-DD') moddate
			, B.hitcount
			, B.subject
		from 
			BOARDS B, MEMBERS M
		where
			M.IDNO=B.IDNO
			and subject = #{subject}
		order by boardnum desc
	</select>





	<!-- 글 삭제 -->
	<delete id="deleteBoard" parameterType="Board">
		delete
		from
			boards
		where
			boardnum = #{boardnum}
			and idno = #{idno}
	</delete>

	<!-- 글 수정 -->
	<update id="updateBoard" parameterType="Board">
		update
			boards
		set
			title = #{title}
			, content = #{content}
		where
			boardnum = #{boardnum}
			and idno = #{idno}
	</update>

	<!-- 리플 저장 -->
	<insert id="insertReply" parameterType="Reply">
		insert into replies (
			replynum
			, boardnum
			, idno
			, content
			, stars
		)
		values (
			replies_seq.nextval
			, #{boardnum}
			, #{idno}
			, #{content}
			, #{stars}
		)
	</insert>
	
	<!-- 리플 삭제 -->
	<delete id="deleteReply" parameterType="Reply">
		delete
		from
			replies
		where
			replynum = #{replynum}
			and idno = #{idno}
	</delete>
	
	<!-- 현재 글의 리플 목록 -->
	<select id="listReply" parameterType="int" resultType="Reply">
		select 
			replynum
			, boardnum
			, idno
			, content
			, to_char(regdate, 'YYYY-MM-DD') regdate
			, stars
		from 
			replies
		where
			boardnum = #{boardnum}
		order by replynum desc
	</select>

	<!-- 리플 수정 -->
	<update id="updateReply" parameterType="Reply">
		update
			replies
		set
			content = #{content}
			,stars  = #{stars}
		where
			replynum = #{replynum}
			and idno = #{idno}
	</update>
	
</mapper>
