<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.creamyfever.wow.dao.KeywordMapper">
	<insert id="insertKeyword" parameterType="Keyword">
		insert into keywords values(#{articlenum}, #{keyword})
	</insert>
	<select id="searchKeyword" parameterType="string" resultType="int">
		select articlenum from keywords where keyword like #{keyword} order by articlenum
	</select>
	<select id="searchKeywordNum" parameterType="string" resultType="Keyword">
		select * from keywords where keyword like #{keyword} order by articlenum
	</select>
	<select id="selectKeyword" parameterType="int" resultType="String">
		select keyword from keywords where articlenum = #{articlenum}
	</select>
</mapper>