<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="VO.Articles" alias="Articles" />
		<typeAlias type="VO.Keyword" alias="Keyword"/>
	</typeAliases>

	<!-- Mapper 파일 include -->
	<mappers>
		<mapper resource="UserMapper.xml"/>
	</mappers>
</configuration>
