<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

<properties resource="db.properties" />

	<typeAliases>
 	      <typeAlias alias="Board" type="VO.Board"/>
 	      <typeAlias alias="Topkeyword" type="VO.Topkeyword"/>
 	      <typeAlias alias="Article" type="VO.Article"/>
 	      <typeAlias alias="Discussion" type="VO.Discussion"/>
	</typeAliases>
	
	<mappers>
 		<mapper resource="Mapper/BoardMapper.xml" />
 		<mapper resource="Mapper/WorldmapMapper.xml" />
 	</mappers>	
	
</configuration>
